.gameContainer {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goBack {
  position: absolute;
  top: 3vh;
  left: 2vw;
  width: 100px;
}
.renderGame {
  width: 60%;
  height: 80vh;
  background-color: #665fdf;
  /* background: rgb(102,95,223);
  background: linear-gradient(150deg, rgba(102,95,223,1) 0%, rgb(42, 39, 94) 50%, rgba(102,95,223,1) 100%); */
  border-radius: 30px;
  box-shadow: 0 5px 16px 0 rgb(0 0 0 / 25%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner {
  width: 33vw;
  height: 16vw;
  background-size: cover;
  background-position: center;
}

.gameover {
  width: 20vw;
  height: 10vw;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.title {
  width: 80%;
  font-size: 3vmin;
  color: #88f0c0;
  text-align: center;
  text-shadow: -1.5px 2px 0 #3ca172;
  font-family: "Fredoka One", cursive;
  letter-spacing: 1.4px;
  font-weight: 100;
}

.title p {
  font-size: 2.5vmin;
  text-shadow: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: white;
}

@media (max-width: 1200px) {
}

@media (max-width: 1000px) {
  .renderGame {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .renderGame {
    width: 90%;
  }
}

@media (max-width: 590px) {
  .containerButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: blue; */
  }
  .containerButtons img {
    width: 50px;
  }
  .buttonOption {
    padding: 1rem;
  }
}


/* nosy */

.nosyContainer {
  padding: 9vmin 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerButtons {
  margin-top: 6vmin;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.containerButtons img {
  width: 90px;
}

.containerButtons div {
  display: flex;
  align-items: center;
  margin: 0 3vmin
}

.musicContainer {
  justify-content: flex-start;
  width: 35%;
}


.buttonOption, .buttonOptionBombed {
  padding: 1rem 2rem;
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 3vmin;
  background-color: #ceb036;
  border-radius: 10px;
  color: white;
  width: 100%;
  /* height: 10vh; */
  cursor: pointer;
  border-bottom: 5px solid #917a20;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.movies {
  background-color: #fedf0a;
  border-bottom: 5px solid #917e06;
}

.animals {
  background-color: #76b02f;
  border-bottom: 5px solid #3b5818;
}

.music {
  background-color: #d9370c;
  border-bottom: 5px solid #741d06;
}

.computers {
  background-color: #8366be;
  border-bottom: 5px solid #493969;
}

.knowledge {
  background-color: #2191fd;
  border-bottom: 5px solid #135492;
}

.buttonOption:hover {
  box-shadow: 1px 2px 3px rgb(80, 79, 79);
}