footer {
  width: 100%;
  background-color: #1c1659;
  padding: 3% 10%;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerLogo {
  width: 130px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footerHorizon {
  width: 163px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footerLogo {
  width: 192px;
  height: 110px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.footerNav {
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.22px;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 3vh;
}

.socialMedia {
  display: flex;
  justify-content: space-around;
  /* margin: 10% 0; */
}

@media (min-width: 300px) and (max-width: 768px) {
  .content {
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerNav, .socialMedia {
    margin: 3vh 0;
  }
  
}
