.mainContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('https://stopots.com/images/background.png');
    background-position: center;
    background-size: cover;
}

.midContainer, .optionsContainer, .friendsList {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.midContainer {
    min-height: 60vh;
    background-color: #1C1659;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 1vw;
    border: 1px solid #FFBF3F;
}

.optionsContainer, .friendsList {
    height: 50vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vh 0;
    background-color: #291D33;
    overflow-y: auto;
}

.friendsList{
    width: 35%;
    background-color: #291D33;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.searchFriend{
    width: 100%;
    background-color: #342E8C;
    border: none;
    border-top: 1px solid white;
    padding: 1vh 1vw;
    color: white;
    outline: none;
    font-family: 'Ubuntu', sans-serif; 
}


/* Title Fonts */

.title {
    font-family: 'Fredoka One', cursive;
    color: #84eeb7;
}

@media (max-width: 768px) {
    .midContainer {
        flex-direction: column;
        width: 100%;
        margin: 2vh 0;
    }

    .optionsContainer {
        width: 100%;
        margin-bottom: 2vh;
    }

    .friendsList {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .midContainer {
        width: 95%;
    }

    .optionsContainer{
        width: 70%;
    }

    .friendsList {
        width:  25%;
    }
}