.section{
  width: 80%;
  border: 1.3px solid white;
  margin: .5rem;
  height: 18vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}


.logo {
  width: 3.5vw;
  border-radius: 50px;
  align-self: center;
}

.container h3 {
  color: white;
  font-size: 2.8vmin;
  font-family: "Ubuntu", sans-serif;
}

.buttons,
  .userDate{
  display: flex;
  align-items: center;
  justify-content: center;
}
.userDate >* {
  margin: .3rem;
}
.buttons>*{
  margin: .5rem;
}
.container button{
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    border: none;
    width: 3.5rem;
    border-radius: 3px;
    color:white;
    background-color: #43b14b;
}

.container .buttonRefuse{
    background-color: #cb5b3b;
}

@media(min-width:400px) and (max-width:800px){
  .section {
    width: 80%;
    height: 25vh;
    margin: 1vw;
  }
  .logo{
    width: 15vw;
  }
.container button {
    padding: 0.5rem 1.8rem;
}
}
@media(min-width:650px) and (max-width:800px){
    .logo{
        width: 10vw;
      }
    .section { 
        width: 50%;
    }
}
