.section{
    background-color: rgb(109,98,231);
    width:50%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 5px 16px 0 rgb(0 0 0 / 25%);
    margin: 1vw;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.logo{
    width: 8vw;
    align-self: center;
 
}

.container h3{
    color: white;
    font-size: 6vmin;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.containerButtons{
    display: flex;
    gap:2rem;
}

.container button{
    font-family: 'Ubuntu', sans-serif;
    padding: 1rem 1.8rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color:white;
    box-shadow: 0 5px 16px 0 rgb(0 0 0 / 25%);
    background-color: #43b14b;
}

.container .buttonRefuse{
    background-color: #cb5b3b;
}

@media(min-width:400px) and (max-width:800px){
  .section {
    width: 80%;
    height: 25vh;
    margin: 1vw;
  }
  .logo{
    width: 15vw;
  }
.container button {
    padding: 0.5rem 1.8rem;
}
}
@media(min-width:650px) and (max-width:800px){
    .logo{
        width: 10vw;
      }
    .section { 
        width: 50%;
    }
}