.gameContainer{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.renderGame{
    width: 60%;
    height: 80vh;
    background-color: #665fdf;
    border-radius: 30px;
    box-shadow: 0 5px 16px 0 rgb(0 0 0 / 25%);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .renderGame{
        width: 80%;
    }
}