.rouletteContainer{
    width: 50%;
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img.roulette{
    height: 100%;
    transition: all 4s;
    border-radius: 100%;
    box-shadow: 0px 0px 21px 1px #242462;
}

/* 
img.roulette{
    height: 100%;
    animation: girar 5s ease;
}

@keyframes girar {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(3000deg)
    }
} */