html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    font-family: 'Fredoka One', cursive;
    width: 100%;
    height: 100vh;
}
.section h2{
    color:#84eeb7;
    margin-top: 1rem;
    font-size: 34px;
    text-shadow: -1px 2px 0 #389067;
}
.section h2, .section p{
    text-align: center;
}

.section p{
    color: white;
    margin-bottom: 50px;
    font-size: 19px; 
    font-family: 'Ubuntu', sans-serif;
}

.containerCards{
    margin: 0 9%;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 28%);
    gap: 6vmin;
}
.card{
    background-color: #665fdf;
    font-family: 'Ubuntu', sans-serif;
    height: 480px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3%;
    box-shadow: 0 7px 5px 0 rgb(0 0 0 / 35%);
    padding: 0.5rem;
    
}
.card h3{
    background-color: transparent;
    color: #e3be31;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    /* margin: 0 25px; */

}
.card img, .card p{
    background-color: transparent;
    font-family: 'Ubuntu', sans-serif;
}
.card img{
    height: 35%;
    margin: 25px 0;
}
.imgCard{
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}

.card p{
    font-size: 17px;
    margin: 10px 20px;
    font-weight: 401;
}
@media only screen and (max-width:1335px) {
    .card{
        height: 90%
    }
}


@media only screen and (max-width:1024px){

    .containerCards{
        width: 90%;
        height: 80%;
    }

} 

 @media only screen and (max-width:768px){

    .card{
       width: 70%;
       height: 60%
    }
    .section{
        height: 200vh
    }
    .containerCards{
    flex-direction: column;
       gap:2rem
    }
    .card img{
        width: 30%;
    }
    .card p{
        font-size: 1.5rem;
    }
    .card h3{
        font-size: 2rem;
    }

}  

@media only screen and (max-width:600px){
    .card{
        width: 80%;
        height: 60%
     }
     .card img{
        width: 30%;
    }
    .card p{
        font-size: 1rem;
    }
    .card h3{
        font-size: 1.5rem;
    }
    .card img{
        width: 40%;
    }
    .section p{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width:500px){
    
    .section h2{
        font-size: 2rem;
    }
    .card{
        width: 100%;
        height: 60%
     }
     .card p{
        font-size: 4vmin;
    }
}
