article.userCard{
    width: 95%;
    color: white;
    border-radius: 0 0 15px 0;
    border-bottom: 1px solid white;
    margin-bottom: 1em;
    padding: .3em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userInfo{
    width: 100%;
    display: flex;
    align-items: center;
    font-family:"Ubuntu", "sans-serif";
    font-size: 1vw;
}

.userAvatar{
    margin: 0 1vw;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.buttonSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSection img{
    width: 25px;
    margin: 0 1vw;
    cursor: pointer;
}
.divConnect{
    display: flex;
    align-items: center;
}
.connected{
    width: 16px;
    height: 16px;
}

.userDetails{
    padding-bottom: 3vh;
    width: 95%;
    background-color: rgba(2, 2, 44, 0.63);
    display: flex;
    flex-wrap: wrap;
}

.userDetails>div{
    width: 50%;
}

.userDetails label{
    color: black;
    margin-top: 2vh;
}

.userData{
    display: flex;
    flex-direction: column;
    padding: 0 3vw;
}

.buttonsContainer{
    margin-top: .5em;
    width: 100% !important;
    display: flex;
    justify-content: center;
}

.buttonsContainer img{
    width: 50px;
    margin: 0 1vw;
}

